@tailwind base;
@tailwind components;
@tailwind utilities;


.text-shadow {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.shadow-custom {
    box-shadow: 10px 10px 20px 5px #22222222,
        -5px -5px 10px #00000044;
    transition: box-shadow 1s;
}

.shadow-custom:hover {
    box-shadow: none;
}

.bg-gradient {
    background: #23074d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #cc5333, #23074d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #cc5333, #23074d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-gradient-reverse {
    background: #cc5333;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc5333, #23074d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cc5333, #23074d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}